@font-face {
    font-family: 'proximanova_semibold';
    font-weight: 700;
    src: url('..fonts/proximanova_semibold.woff2')format('woff2');
}

@font-face {
    font-family: 'proximanova_regular';
    font-weight: normal;
    src: url('..fonts/proximanova_regular.woff2')format('woff2');
}

@font-face {
    font-family: 'Circular-Std-Medium';
    font-weight: 500;
    src: url('..fonts/Circular-Std-Medium.otf')format('otf');
}