//    Font Family
$primary-font: 'Noto Serif',
serif;
$secondary-font: 'Roboto',
sans-serif;

$dark-grey: #686868;
$light-grey: #919191;

$light-blue: #6db1d4;
$light-blue-hover: #a2c9cb;



$white: #fff;
$black: #222;